<?xml version="1.0"?>
<config>
  <modules>
    <Synamen_Mobile>
      <version>0.1.0</version>
    </Synamen_Mobile>
  </modules>
  <frontend>
    <routers>
      <mobile>
        <use>standard</use>
          <args>
            <module>Synamen_Mobile</module>
            <frontName>mobile</frontName>
          </args>
      </mobile>
    </routers>
		<layout>
		  <updates>
			<mobile>
			  <file>mobile.xml</file>
			</mobile>
		  </updates>
		</layout>
  </frontend>
  <global>
  	<fieldsets>
  		<checkout_onepage_quote>
            <customer_mobilenum>
                <to_customer>mobilenum</to_customer>
            </customer_mobilenum>
        </checkout_onepage_quote>
        <checkout_onepage_quote>
            <mobilenum>
                <to_customer>*</to_customer>
            </mobilenum>
        </checkout_onepage_quote>
        <customer_account>
            <mobilenum>
                <to_quote>*</to_quote>
            </mobilenum>
        </customer_account>
       <sales_copy_order_billing_address>
                <mobilenum><to_order>*</to_order></mobilenum>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <mobilenum><to_order>*</to_order></mobilenum>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <mobilenum><to_order_address>*</to_order_address></mobilenum>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <mobilenum><to_quote_address>*</to_quote_address></mobilenum>
            </sales_convert_order_address>
            <checkout_onepage_billing>
                <mobilenum><to_customer>*</to_customer></mobilenum>
            </checkout_onepage_billing>
    </fieldsets>
		<rewrite>        
            <synamen_mobile_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- Mage_Customer_AccountController  -->
                <to>/mobile/customer_account/</to> <!-- Synamen_Mobile_Customer_AccountController  -->
            </synamen_mobile_customer_accountcontroller>
		</rewrite>
    <helpers>
      <mobile>
        <class>Synamen_Mobile_Helper</class>
      </mobile>
    </helpers>
	<blocks>
	  <mobile>
		<class>Synamen_Mobile_Block</class>
	  </mobile>
	</blocks>
	<models>
	  <mobile>
		<class>Synamen_Mobile_Model</class>
		<resourceModel>mobile_mysql4</resourceModel>
	  </mobile>
	  <customer_resource>
				<rewrite>
					<customer>Synamen_Mobile_Model_Customer_Resource_Customer</customer>
				</rewrite>
			</customer_resource>
			<checkout>
				<rewrite>
					<type_onepage>Synamen_Mobile_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
	</models>
	<resources>
	<salesattribute1492495220_setup>
		<setup>
		  <module>Synamen_Mobile</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1492495220_setup>
	  <salesattribute1492495220_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1492495220_write>
	  <salesattribute1492495220_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1492495220_read>
	  <customerattribute1492492796_setup>
		<setup>
		  <module>Synamen_Mobile</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1492492796_setup>
	  <customerattribute1492492796_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1492492796_write>
	  <customerattribute1492492796_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1492492796_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <mobile>
	    <use>admin</use>
		<args>
		  <module>Synamen_Mobile</module>
		  <frontName>admin_mobile</frontName>
		</args>
	  </mobile>
	</routers>
  </admin>
</config> 